.Header {
    display: flex;
    flex-direction: row;
    height: 7vh;
}

.Title {
    display: flex;
    flex-direction: row;
}

.ButtonSet {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.HeaderButton {
    height: 7vh;
    width: 10vw;
    font-size: 3vh;
}