.timerfalse {
}

.timertrue {
    background-color: yellow;
}

text {
    font-family: -apple-system, sans-serif;
    font-size: 2vh;
    color: red;
}


.textInputtrue {
    border-color: red;
    background-color: #efefef;
}

.textInputfalse {
    border-color: black;
    background-color: white;
}

.leftSplitButton {
    margin-left: auto;
}

.leftSplitDiv {
    width: 28vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkboxInput {
    width: 2vh;
    height: 2vh;
}

.timerButtons {
    width: 40vw;
    display: flex;
    align-items: flex-start;
}