.timerfalse {
}

.timertrue {
    background-color: yellow;
}

text {
    font-family: -apple-system, sans-serif;
    font-size: 2vh;
    color: red;
}


.textInputtrue {
    border-color: red;
}

.textInputfalse {
    border-color: black;
}

.leftSplitButton {
    margin-left: auto;
}

.leftSplitDiv {
    width: 28vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.timerButtons {
    width: 40vw;
    display: flex;
    align-items: flex-start;
}