.App {
  text-align: center;
}

.App-header {
  height: 7vh;
  background-color: #3498DB;
}

.App-body {
  display: flex;
  flex-direction: row;
}


.split {
  padding-top: 5vh;
  padding-left: 2vw;
  height: 88vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #efefef;
}

label {
  font-size: 2.5vh;
}

input {
  font-size: 2vh;
}

button {
  height: 3vh;
  min-width: fit-content;
  font-size: 2vh;
  width: 5vw;
}

.centerVertically {
  display: flex;
  flex-direction: row;
  align-items: center;
}