.App {
  text-align: center;
}

.App-header {
  height: 7vh;
  background-color: #c8c8c8;
}

.App-body {
  display: flex;
  flex-direction: row;
}


.Split {
  padding-top: 5vh;
  height: 88vh;
  width: 50vw;
  background-color: #efefef;
}

.Button {
  height: 2.5vh;
  width: 5vw;
}